<div class="photo_card col-md-2 mt-3 mb-4 mb-lg-0">
  <div class="photo_card_container relative">
    <LinkTo @route="item" @model="{{@pic.id}}">
      <img src={{@pic.download_url}} />
    </LinkTo>
  </div>
</div>