<div class="not_found_page text-center d-flex justify-content-center align-items-center flex-column">
  <h1>404</h1>
  <p class="message">Uh Oh! Looks like you came to a non-existing page!</p>
  <LinkTo @route="index" class="menu-index">
    <p class="button">Click Here to go back home</p>
  </LinkTo>
</div>
